body {
    background-image: url('/static/geral/img/login.png');
    background-size: cover;
}



.box_login{
    margin-left: 30px;
    margin-top:30%;
    background-color: white;
    width: 370px;
    height: 380px;
    border-radius: 21.832px 21.832px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.5) 4px 6px 25px;
}

.titulo_login{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(280deg, #8BC542 31.29%, #2D4F02 110.48%);
    height: 90px;
    border-radius: 22px 22px 0px 0px;
    
}

.titulo_login h3{
    margin-top: 5px ;
    color: white;
}

.icone_login{
    float: left;
    margin-right: 5px;
}

.form-floating>.form-control, .form-floating>.form-control-plaintext, .form-floating>.form-select {
    height: calc(2.4rem + calc(var(--bs-border-width) * 2));
    min-height: calc(2.4rem + calc(var(--bs-border-width) * 2));
    line-height: 1.25;
}

.form-floating>.form-control-plaintext~label::after, .form-floating>.form-control:focus~label::after, .form-floating>.form-control:not(:placeholder-shown)~label::after, .form-floating>.form-select~label::after {
    position: absolute;
    inset: 1rem 0.375rem;
    z-index: -1;
    height: 1.5em;
    content: "";
    background-color: transparent;
    border-radius: var(--bs-border-radius);
}

.form-floating label {
    font-size: 13px;
}

.input-default {
    font-size: small;
}